#!/usr/bin/bash

alias rebuild="$command build --no-cache --pull"
alias restart="$command restart"
alias composer="$command run --rm php composer"
alias npm="$command run --rm npm npm"
alias php="$command run --rm php php"
alias art="php artisan"

alias p="art test --parallel --processes 6 --exclude-group TBD,demo,legacyImports,deprecated"
alias pf="art test --fi"
